.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 14vh;
  background-color: #f7941d;
}

.profile {
  height: 8.4vh;
  width: 8.4vh;
  border-radius: 50%;
  margin-top: 2.8vh;
  margin-left: 2.8vw;
}

.info {
  margin-left: 3vw;
  display: grid;
  align-items: center;
  text-align: left;
  gap: 0px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

.optionsClosed {
  position: absolute;
  height: 6vh;
  width: 19vw;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  gap: 0.5vh;
  right: 0px;
  margin-right: 2.7vw;
  margin-top: 1.64vh;
}

.dashes {
  height: 6vh;
  width: 8.5vw;
}

.redstrip {
  height: 6vh;
  background-color: #eb5456;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.yellowstrip {
  height: 6vh;
  background-color: yellowgreen;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.bluestrip {
  height: 6vh;
  background-color: lightblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.money-info {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: bold;
  margin: 4vh 1vw;
}

.from {
  height: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.to {
  height: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
